<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Account Profile</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">{{name}}</label>
                                <input type="text" class="form-control" disabled="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">{{nomor}}</label>
                                <input type="text" class="form-control" disabled="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">{{os}} : {{platform}}</label>
                                <input type="text" class="form-control" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">whatsapp ~ {{version}}</label>
                                <input type="text" class="form-control" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="javascript:;">
                    <img class="img" src="/images/profile.jpg">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ name }}</h4>
                <pre class="card-description">
`
# ----- X-SPC BOT GROUP ----- #

<-------- *( CONTACT US )* --------->

[|] Author : Doni Pratama
[|] Build With : NodeJS
[|] Contact Number : 0895-6046-90202

#Link grup bot : htttps://chat.whatsapp.com/EPHNC1PXY3qAIkwWHTWqXE

<-------- *( POWERED BY X-SPC BOT )* -------->

`
                </pre>
                <a href="https://api.whatsapp.com/send?phone=6282373067173&text=!help" class="btn btn-primary btn-round">Follow</a>
            </div>
        </div>
    </div>
</div>
